<section class="about-main">
            <div class="about-top-head">
                <div class="about-heading">
                    <h2> Our Team </h2>
                </div>
            </div>

            <div class="team-main">
                <div class="container">
                    <div class="tema-cntnt sc_team_style_team-2 ">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="column-1_2 column_padding_bottom">          
                                <div class="sc_team_item sc_team_item_1 odd first columns_wrap" id="sc_team_1619354517_1">
                                    <div class="sc_team_item_avatar column-1_2">
                                        <div class="image_hover_wrap"><img width="300" height="300" src="assets/img/team1.jpg" alt="Susan Lee" class="wp-post-image img-responsive" />                 
                                            <a class="sc_team_item_hover" href="javascript:void(0)"></a>
                                        </div>
                                    </div>
                                    <div class="sc_team_item_info column-1_2">
                                        <h5 class="sc_team_item_title"><a href="javascript:void(0)">Susan Lee</a></h5>
                                        <div class="sc_team_item_position">Makeup Artist</div>
                                        <div class="sc_team_item_description">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
                                        </div>
                                        <div class="sc_socials">
                                            <ul>
                                                <li>
                                                    <a href="javascript:;"> <i class="fa fa-facebook fa-fw"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"> <i class="fa fa-twitter fa-fw"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"> <i class="fa fa-linkedin fa-fw"></i></a>
                                                </li>
                                            </ul>
                                        </div>           
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="column-1_2 column_padding_bottom">          
                                <div class="sc_team_item sc_team_item_1 odd first columns_wrap" id="sc_team_1619354517_1">
                                    <div class="sc_team_item_avatar column-1_2">
                                        <div class="image_hover_wrap"><img width="300" height="300" src="assets/img/team4.jpg" alt="Susan Lee" class="wp-post-image img-responsive" />                 
                                            <a class="sc_team_item_hover" href="javascript:void(0)"></a>
                                        </div>
                                    </div>
                                    <div class="sc_team_item_info column-1_2">
                                        <h5 class="sc_team_item_title"><a href="javascript:void(0)">Elena Jones</a></h5>
                                        <div class="sc_team_item_position">Hairdresser</div>
                                        <div class="sc_team_item_description">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
                                        </div>
                                        <div class="sc_socials">
                                            <ul>
                                                <li>
                                                    <a href="javascript:;"> <i class="fa fa-facebook fa-fw"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"> <i class="fa fa-twitter fa-fw"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"> <i class="fa fa-linkedin fa-fw"></i></a>
                                                </li>
                                            </ul>
                                        </div>           
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="column-1_2 column_padding_bottom">          
                                <div class="sc_team_item sc_team_item_1 odd first columns_wrap" id="sc_team_1619354517_1">
                                    <div class="sc_team_item_avatar column-1_2">
                                        <div class="image_hover_wrap"><img width="300" height="300" src="assets/img/team3.jpg" alt="Susan Lee" class="wp-post-image img-responsive" />                 
                                            <a class="sc_team_item_hover" href="javascript:void(0)"></a>
                                        </div>
                                    </div>
                                    <div class="sc_team_item_info column-1_2">
                                        <h5 class="sc_team_item_title"><a href="javascript:void(0)">Lana Fox</a></h5>
                                        <div class="sc_team_item_position">Hairdresser</div>
                                        <div class="sc_team_item_description">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
                                        </div>
                                        <div class="sc_socials">
                                            <ul>
                                                <li>
                                                    <a href="javascript:;"> <i class="fa fa-facebook fa-fw"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"> <i class="fa fa-twitter fa-fw"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"> <i class="fa fa-linkedin fa-fw"></i></a>
                                                </li>
                                            </ul>
                                        </div>           
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="column-1_2 column_padding_bottom">          
                                <div class="sc_team_item sc_team_item_1 odd first columns_wrap" id="sc_team_1619354517_1">
                                    <div class="sc_team_item_avatar column-1_2">
                                        <div class="image_hover_wrap"><img width="300" height="300" src="assets/img/team2.jpg" alt="Susan Lee" class="wp-post-image img-responsive" />                 
                                            <a class="sc_team_item_hover" href="javascript:void(0)"></a>
                                        </div>
                                    </div>
                                    <div class="sc_team_item_info column-1_2">
                                        <h5 class="sc_team_item_title"><a href="javascript:void(0)">Tina Jackson</a></h5>
                                        <div class="sc_team_item_position">Stylist</div>
                                        <div class="sc_team_item_description">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
                                        </div>
                                        <div class="sc_socials">
                                            <ul>
                                                <li>
                                                    <a href="javascript:;"> <i class="fa fa-facebook fa-fw"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"> <i class="fa fa-twitter fa-fw"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"> <i class="fa fa-linkedin fa-fw"></i></a>
                                                </li>
                                            </ul>
                                        </div>           
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
                
            
        </section>
