<div class="page-content-wrapper">
				<div class="page-content">
					<ul class="page-breadcrumb breadcrumb hide">
						<li>
							<a href="#">Home</a><i class="fa fa-circle"></i>
						</li>
						<li class="active">
							 Dashboard
						</li>
					</ul>
					<!-- BEGIN PAGE CONTENT INNER -->
					<div class="emp-list-sec">
						<div class="col-md-12 col-sm-12 p-0">
							<!-- BEGIN PORTLET-->
							<div class="booking-section"><!-- like that wrap class -->
								<div class="portlet light">
									<div class="portlet-title">
										<div class="caption caption-md">
											<i class="icon-bar-chart theme-font-color hide"></i>
											<span class="caption-subject theme-font-color bold uppercase">Saloon Profile</span>
										</div>
									</div>
									<div class="portlet-body services-list">
										<div class="col-md-12 col-sm-12 col-xs-12 p-0">
											<div class="otr-bg-dshbrd">
							                    <h4 class="title-form-head" >Personal Details <a class="edit-btn" href="javascript:void(0)" (click)="onClickDetailsEdit()">
							                    <span id="show1" class="fa fa-pencil-square-o" ></span>
							                    </a></h4>
							                   <div class="profile-form">
							                   		<div class="first-secwrap">
							                   			<div id="row1">
										                    <div class="col-md-9 col-sm-9 col-xs-12 ">
									                          	<div class="info-list">
									                          		<dl class="dl-horizontal">
																	  <dt>Saloon Name</dt>
																	  <dd>{{userDetail.saloon_name}}</dd>
																	  <dt>Name</dt>
																	  <dd>{{userDetail.name}}</dd>
																	  <dt>Email</dt>
																	  <dd>{{userDetail.email}}</dd>
																	  <dt>Contact Number</dt>
																	  <dd>{{userDetail.contact_number}}</dd>
																	  <dt>City</dt>
																	  <dd>{{userDetail.city}}</dd>
																	  <dt>Services Category</dt>
																	  <dd>Saloon</dd>
																	  <dt>Saloon Service</dt>
																	  <dd>Hair, Skin, Nail Treatment</dd>
																	</dl>
									                          	</div>
										                    </div>
									                      	<div class="col-md-3 col-sm-3 col-xs-12">
										                        <div class="wrap-div outer-img">
										                            <img *ngIf="!userDetail.image" src="assets/img/saloon-user.png" class="img-responsive">
										                            <img *ngIf="userDetail.image" src="http://18.216.88.154/public/beauti-service/{{userDetail.image}}" class="img-responsive">
										                        </div>
									                      	</div>
									                    </div>
									                    <div id="row2">
									                    	<form [formGroup]="accountDetailsForm">
									                    		<div class="col-md-9 col-md-9 col-xs-12">
										                    	<div class="row">
						                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
						                                                <label>Enter Saloon Name</label>
						                                                <input type="text" placeholder="Enter Saloon Name" class="form-control" [formControl]="accountDetailsForm.controls['saloonName']" [(ngModel)]="userDetail.saloon_name">
						                                            </div>
						                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
						                                                <label>Enter Name</label>
						                                                <input type="text" placeholder="Enter Name" class="form-control" [formControl]="accountDetailsForm.controls['name']" [(ngModel)]="userDetail.name">
						                                            </div>
						                                        </div>
						                                        <div class="row">
						                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
						                                                <label>Enter Email</label>
						                                                <input type="text" placeholder="Enter Email" class="form-control" [formControl]="accountDetailsForm.controls['email']" [(ngModel)]="userDetail.email">
						                                            </div>
						                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
						                                                <label>Enter Contact Number</label>
						                                                <input type="text" placeholder="Enter Contact Number" class="form-control" [formControl]="accountDetailsForm.controls['contactNumber']" [(ngModel)]="userDetail.contact_number">
						                                            </div>
						                                        </div>
						                                        <div class="row">
						                                            <!-- <div class="form-group col-md-6 col-sm-6 col-xs-12">
						                                                <label>Enter Your State</label>
						                                                <input type="text" placeholder="Enter Your State" class="form-control">
						                                            </div> -->
						                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
						                                                <label>Enter Your City</label>
						                                                <input type="text" placeholder="Enter Your City" class="form-control" [formControl]="accountDetailsForm.controls['city']" [(ngModel)]="userDetail.city">
						                                            </div>
						                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
					                                                  	<label>Select Service</label>
					                                                    <div class="custom-select">
					                                                       <!--  <select class="form-control multiselect" placeholder="Select Services" multiple="multiple">
					                                                            <option disabled="">Select Services</option>
					                                                            <option name="nsw">Hair</option>
					                                                            <option name="vic">Skin</option>
					                                                            <option name="qld">Nail Treatment</option>
					                                                            <option name="qld">Essentials</option>
					                                                            <option name="qld">Innovations</option>
					                                                        </select> -->
					                                                        <ss-multiselect-dropdown [formControl]="accountDetailsForm.controls['selectService']" [options]="myOptions2" [(ngModel)]="optionsModel2" (ngModelChange)="onChange2($event)" ></ss-multiselect-dropdown>
					                                                    </div>
					                                                </div>
						                                        </div>
						                                        <div class="row">
					                                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
					                                                    <label>Select Category</label>
					                                                    <div class="custom-select">
					                                                        <!-- <select class="form-control multiselect" placeholder="Select Category" multiple="multiple">
					                                                            <option disabled="">Select Category</option>
					                                                            <option name="nsw">Saloon</option>
					                                                            <option name="vic">spa</option>
					                                                            <option name="qld">Stylist</option>
					                                                            <option name="wa">Ayurveda</option>
					                                                        </select> -->
					                                                        <ss-multiselect-dropdown [formControl]="accountDetailsForm.controls['selectCategory']"  [options]="myOptions" [(ngModel)]="optionsModel" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
					                                                    </div>
					                                                </div>
					                                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
					                                                  	<!-- <label>Select Service</label>
					                                                    <div class="custom-select">
					                                                        <select class="form-control multiselect" placeholder="Select Services" multiple="multiple">
					                                                            <option disabled="">Select Services</option>
					                                                            <option name="nsw">Hair</option>
					                                                            <option name="vic">Skin</option>
					                                                            <option name="qld">Nail Treatment</option>
					                                                            <option name="qld">Essentials</option>
					                                                            <option name="qld">Innovations</option>
					                                                        </select>
					                                                    </div> -->
					                                                </div>
					                                            </div>
										                        <div class="row">
									                            	<ul class="update-form-ul">
									                            		<li>
									                            			<button id="update1" type="button" class="btn cut-btn" (click)="onUpdateDetails()">Update</button>
									                            		</li>
									                            		<li>
									                            			<a href="javascript:void(0);" class="btn cut-btn"  (click)="onCancelDetailshow()">Cancel</a>
									                            		</li>
									                            	</ul>
										                        </div>
										                    </div>
									                      	<div class="col-md-3 col-sm-3 col-xs-12">
										                        <div class="wrap-div outer-img">
										                            <img *ngIf="!userDetail.image" src="assets/img/saloon-user.png" class="img-responsive">
										                            <img *ngIf="userDetail.image" src="http://18.216.88.154/public/beauti-service/{{userDetail.image}}" class="img-responsive">
										                            <span class="upload-img">
										                            <button class="btn cut-btn" type="submit">Change Profile</button>
										                            <input class="profile-btn cut-btn" name="image" type="file">
										                            </span>
										                        </div>
										                    </div>
									                    	</form>
									                   </div>
							                   		</div>
								                   <h4 class="title-form-head" id="change">Change password<a class="edit-btn" href="javascript:;" (click)="onClickPasswordEdit()">
								                    <span class="fa fa-pencil-square-o" id="show3"></span>
								                    </a></h4>
									                <div id="row5">
									                      <div class="col-md-9">
									                         <span class="edited-value">Click on edit icon to change your password.</span>
									                      </div>
									                </div>
								                   	<div id="row6">
									                    <div class="col-md-9 col-sm-9 col-xs-12">
									                        <div class="row">
									                            <div class="form-group col-sm-9 col-md-9 col-xs-12">
									                            	<label>Current password</label>
									                                <input type="password" placeholder="Current password" class="form-control">
									                            </div>
									                        </div>
									                        <div class="row">
									                            <div class="form-group col-sm-9 col-md-9 col-xs-12">
									                               	<label>New password</label>
									                                  <input type="password" placeholder="New password" class="form-control">                         
									                            </div>
									                        </div>
									                        <div class="row">
									                            <div class="form-group col-sm-9 col-md-9 col-xs-12">
									                            	  <label>Confirm password</label>
									                                  <input type="password" placeholder="Confirm password" class="form-control">                               
									                            </div>
									                        </div>
									                        <div class="row">
									                        	<div class="form-group col-sm-9 col-md-9 col-xs-12">
									                            	<ul class="update-form-ul">
									                            		<li>
									                            			<button type="button" class="btn cut-btn">Update</button>
									                            		</li>
									                            		<li>
									                            			<a href="javascript:void(0);" class="btn cut-btn"  (click)="onCancelPasswordshow()">Cancel</a>
									                            		</li>
									                            	</ul>
									                            </div>
									                        </div>
									                    </div>
									                </div>
							                   </div>
							              </div> 
										</div>
									</div>
								</div>
							</div>
							<!-- END PORTLET-->
						</div>
					</div>
					<!-- END PAGE CONTENT INNER -->
				</div>
			</div>