<div class="page-content-wrapper">
				<div class="page-content">
					<ul class="page-breadcrumb breadcrumb hide">
						<li>
							<a href="#">Home</a><i class="fa fa-circle"></i>
						</li>
						<li class="active">
							 Dashboard
						</li>
					</ul>
					<!-- BEGIN PAGE CONTENT INNER -->
					<div class="emp-list-sec">
						<div class="col-md-12 col-sm-12 p-0">
							<!-- BEGIN PORTLET-->
							<div class="booking-section"><!-- like that wrap class -->
								<div class="portlet light">
									<div class="portlet-title">
										<div class="caption caption-md">
											<i class="icon-bar-chart theme-font-color hide"></i>
											<span class="caption-subject theme-font-color bold uppercase">Saloon Profile</span>
										</div>
									</div>
									<div class="portlet-body services-list">
										<div class="col-md-12 col-sm-12 col-xs-12 p-0">
											<div class="otr-bg-dshbrd">
							                    <h4 class="title-form-head" >Personal Details <a class="edit-btn" href="javascript:void(0)" (click)="onClickDetailsEdit()">
							                    <span id="show1" class="fa fa-pencil-square-o" ></span>
							                    </a></h4>
							                   <div class="profile-form">
							                   		<div class="first-secwrap">
							                   			<div id="row1">
										                    <div class="col-md-9 col-sm-9 col-xs-12 ">
									                          	<div class="info-list">
									                          		<dl class="dl-horizontal">
																	  <dt>Saloon Name</dt>
																	  <dd>{{userDetail.saloon_name}}</dd>
																	  <dt>Name</dt>
																	  <dd>{{userDetail.name}}</dd>
																	  <dt>Email</dt>
																	  <dd>{{userDetail.email}}</dd>
																	  <dt>Contact Number</dt>
																	  <dd>{{userDetail.contact_number}}</dd>
																	  <!-- <dt>Services Category</dt>
																	  <dd>Saloon</dd>
																	  <dt>Saloon Service</dt>
																	  <dd>Hair, Skin, Nail Treatment</dd> -->
																	  <dt>Opening Time</dt>
																	  <dd>{{getHours(userDetail.opening_time.hour)}} : {{getMin(userDetail.opening_time.minute)}} {{getAmPm(userDetail.opening_time.hour)}}</dd>
																	  <dt>Closing Time</dt>
																	  <dd>{{getHours(userDetail.closing_time.hour)}} : {{getMin(userDetail.closing_time.minute)}} {{getAmPm(userDetail.closing_time.hour)}}</dd>
																	  <dt>City</dt>
																	  <dd>{{userDetail.city}}</dd>
																	  <agm-map id="demo2" [latitude]="userDetail.latitude" [longitude]="userDetail.longitude" [scrollwheel]="false" [zoom]="zoom">
                                        									<agm-marker [latitude]="userDetail.latitude" [longitude]="userDetail.longitude"></agm-marker>
	                                              					</agm-map>
																	</dl>
									                          	</div>
										                    </div>
									                      	<div class="col-md-3 col-sm-3 col-xs-12">
										                        <div class="wrap-div outer-img">
										                            <img *ngIf="!userDetail.image" src="assets/img/saloon-user.png" class="img-responsive">
										                            <img *ngIf="userDetail.image" src="http://18.216.88.154/public/beauti-service/{{userDetail.image}}" class="img-responsive">
										                        </div>
									                      	</div>
									                    </div>
									                    <div id="row2">
									                    	<form [formGroup]="accountDetailsForm">
									                    		<div class="col-md-9 col-md-9 col-xs-12">
										                    	<div class="row">
						                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
						                                                <label>Enter Saloon Name</label>
						                                                <input type="text" placeholder="Enter Saloon Name" class="form-control" [formControl]="accountDetailsForm.controls['saloonName']" [(ngModel)]="userDetail.saloon_name">
						                                            </div>
						                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
						                                                <label>Enter Name</label>
						                                                <input type="text" placeholder="Enter Name" class="form-control" [formControl]="accountDetailsForm.controls['name']" [(ngModel)]="userDetail.name">
						                                            </div>
						                                        </div>
						                                        <div class="row">
						                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
						                                                <label>Enter Email</label>
						                                                <input type="text" placeholder="Enter Email" class="form-control" [formControl]="accountDetailsForm.controls['email']" [(ngModel)]="userDetail.email" >
						                                            </div>
						                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
						                                                <label>Enter Contact Number</label>
						                                                <input type="text" placeholder="Enter Contact Number" class="form-control" [formControl]="accountDetailsForm.controls['contactNumber']" [(ngModel)]="userDetail.contact_number">
						                                            </div>
						                                        </div>
						                                   <!--      <div class="row">
						                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
					                                                  	<label>Select Service</label>
					                                                    <div class="custom-select">
					                                                        <ss-multiselect-dropdown [formControl]="accountDetailsForm.controls['selectService']" [options]="myOptions2" [(ngModel)]="optionsModel2" (ngModelChange)="onChange2($event)" ></ss-multiselect-dropdown>
					                                                    </div>
					                                                </div>
					                                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
					                                                    <label>Select Category</label>
					                                                    <div class="custom-select">
					                                                        <ss-multiselect-dropdown [formControl]="accountDetailsForm.controls['selectCategory']"  [options]="myOptions" [(ngModel)]="optionsModel" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
					                                                    </div>
					                                                </div>
					                                            </div> -->

					                                            <div class="row">
						                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
					                                                  	<label>Opening Time</label>
					                                                    <div class="custom-select">
					                                                    	<ngb-timepicker [(ngModel)]="userDetail.opening_time" [meridian]="true" [spinners]="false" [formControl]="accountDetailsForm.controls['time1']" ></ngb-timepicker>
					                                                    </div>
					                                                </div>
					                                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
					                                                    <label>Closing Time</label>
					                                                    <div class="custom-select">
					                                                    	<ngb-timepicker [(ngModel)]="userDetail.closing_time" [meridian]="true" [spinners]="false" [formControl]="accountDetailsForm.controls['time2']" ></ngb-timepicker>
					                                                    </div>
					                                                </div>
					                                            </div>

						                                        <div class="row">
						                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
						                                                <label>Enter Your City</label>
						                                                <input placeholder="City" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" [formControl]="accountDetailsForm.controls['city']" class="form-control" [(ngModel)]="userDetail.city"  #search>
						                                                <p  *ngIf="accountDetailsForm.controls['city'].hasError('required') && accountDetailsForm.controls['city'].touched">
						                                                     City is <strong>required</strong>
						                                                </p>
						                                                <p  *ngIf="accountDetailsForm.controls['city'].hasError('pattern')">
						                                                           Only alphabets are acceptable 
						                                                </p>  
						                                                <p  *ngIf="accountDetailsForm.controls['city'].hasError('maxlength')">
						                                                           Max length is 300
						                                                </p>
	                                              						<agm-map id="demo" [latitude]="userDetail.latitude" [longitude]="userDetail.longitude" [scrollwheel]="false" [zoom]="zoom">
	                                                						<agm-marker [latitude]="userDetail.latitude" [longitude]="userDetail.longitude"></agm-marker>
	                                              					</agm-map>
						                                            </div>
						                                        </div>
										                        <div class="row">
									                            	<ul class="update-form-ul">
									                            		<li>
									                            			<button id="update1" type="button" class="btn cut-btn" [disabled]="!accountDetailsForm.valid" (click)="onUpdateDetails()">Update</button>
									                            		</li>
									                            		<li>
									                            			<a href="javascript:void(0);" class="btn cut-btn"  (click)="onCancelDetailshow()">Cancel</a>
									                            		</li>
									                            	</ul>
										                        </div>
										                    </div>
									                      	<div class="col-md-3 col-sm-3 col-xs-12">
										                        <div class="wrap-div outer-img">
										                            <img *ngIf="!userDetail.image " src="assets/img/saloon-user.png" class="img-responsive">
										                            <img *ngIf="userDetail.image" [src]="imagePath(userDetail.image)" class="img-responsive">
										                            <span class="upload-img">
										                            <button class="btn cut-btn" type="submit">Change Profile</button>
										                            <input class="profile-btn cut-btn" name="image" type="file" (change)="imageUploadEvent($event)" accept="image/gif, image/jpeg, image/png" />
										                            </span>
										                        </div>
										                    </div>
									                    	</form>
									                   </div>
							                   		</div>
								                   <h4 class="title-form-head" id="change">Change password<a class="edit-btn" href="javascript:;" (click)="onClickPasswordEdit()">
								                    <span class="fa fa-pencil-square-o" id="show3"></span>
								                    </a></h4>
									                <div id="row5">
									                      <div class="col-md-9">
									                         <span class="edited-value">Click on edit icon to change your password.</span>
									                      </div>
									                </div>
								                   	<div id="row6">
									                    <div class="col-md-9 col-sm-9 col-xs-12">
									                    	<form [formGroup]="passwordForm">
										                        <div class="row">
										                            <div class="form-group col-sm-9 col-md-9 col-xs-12">
										                            	<label>Current password</label>
										                                <input type="password" placeholder="Current password" class="form-control" [formControl]="passwordForm.controls['currentPassword']" [(ngModel)]="passwordModel.currentPassword">
										                                <p  *ngIf="passwordForm.controls['currentPassword'].hasError('required') && passwordForm.controls['currentPassword'].touched">
					                                                     Current password is <strong>required</strong>
					                                                    </p>
					                                                    <p  *ngIf="passwordForm.controls['currentPassword'].hasError('pattern')">
					                                                               only alphabets are acceptable 
					                                                    </p>
					                                                    <p  *ngIf="passwordForm.controls['currentPassword'].hasError('maxlength')">
					                                                               max length is 12
					                                                    </p>
					                                                    <!-- <p  *ngIf="message">
					                                                               Password and confirm password must be same !!
					                                                    </p> -->
										                            </div>
										                        </div>
										                        <div class="row">
										                            <div class="form-group col-sm-9 col-md-9 col-xs-12">
										                               	<label>New password</label>
										                                  <input type="password" placeholder="New password" class="form-control" [formControl]="passwordForm.controls['newPassword']" [(ngModel)]="passwordModel.newPassword" (input)="pass_confirm()">
										                                  <p  *ngIf="passwordForm.controls['newPassword'].hasError('required') && passwordForm.controls['newPassword'].touched">
					                                                     New Password is <strong>required</strong>
					                                                    </p>
					                                                    <p  *ngIf="passwordForm.controls['newPassword'].hasError('pattern')">
					                                                               only alphabets are acceptable 
					                                                    </p>
					                                                    <p  *ngIf="passwordForm.controls['newPassword'].hasError('maxlength')">
					                                                               max length is 12
					                                                    </p>
					                                                   <!--  <p  *ngIf="message">
					                                                               Password and confirm password must be same !!
					                                                    </p> -->                         
										                            </div>
										                        </div>
										                        <div class="row">
										                            <div class="form-group col-sm-9 col-md-9 col-xs-12">
										                            	  <label>Confirm password</label>
										                                  <input type="password" placeholder="Confirm password" class="form-control" [formControl]="passwordForm.controls['confirmPassword']" [(ngModel)]="passwordModel.confirmPassword" (input)="confirm()"> 
										                                 <p  *ngIf="passwordForm.controls['confirmPassword'].hasError('required') && passwordForm.controls['confirmPassword'].touched">
					                                                     Confirm Password is <strong>required</strong>
					                                                    </p>
					                                                    <p  *ngIf="passwordForm.controls['confirmPassword'].hasError('pattern')">
					                                                               only alphabets are acceptable 
					                                                    </p>
					                                                    <p  *ngIf="passwordForm.controls['confirmPassword'].hasError('maxlength')">
					                                                               max length is 12
					                                                    </p>
					                                                    <p  *ngIf="message">
					                                                               New Password and confirm password must be same !!
					                                                    </p>                              
										                            </div>
										                        </div>
										                        <div class="row">
										                        	<div class="form-group col-sm-9 col-md-9 col-xs-12">
										                            	<ul class="update-form-ul">
										                            		<li>
										                            			<button [disabled]="!passwordForm.valid || message" type="button" class="btn cut-btn" (click)="onUpdatePass()">Update</button>
										                            		</li>
										                            		<li>
										                            			<a href="javascript:void(0);" class="btn cut-btn"  (click)="onCancelPasswordshow()">Cancel</a>
										                            		</li>
										                            	</ul>
										                            </div>
										                        </div>
									                    	</form>
									                    </div>
									                </div>
							                   </div>
							              </div> 
										</div>
									</div>
								</div>
							</div>
							<!-- END PORTLET-->
						</div>
					</div>
					<!-- END PAGE CONTENT INNER -->
				</div>
			</div>