.btn.cus-btn {
  background-color: #d5275a;
  border-radius: unset;
  color: #fff;
  margin-right: 11px;
  min-width: 130px;
}
.month-name h3 {
  color: #d5275a;
}
.week-sec .cal-month-view .cal-day-cell {
  min-height: 70px;
}