<!-- BEGIN CONTENT -->
			<div class="page-content-wrapper">
				<div class="page-content">
					<ul class="page-breadcrumb breadcrumb hide">
						<li>
							<a href="#">Home</a><i class="fa fa-circle"></i>
						</li>
						<li class="active">
							 Dashboard
						</li>
					</ul>
					<!-- BEGIN PAGE CONTENT INNER -->
					<div class="emp-list-sec">
						<div class="col-md-12 col-sm-12 p-0">
							<!-- BEGIN PORTLET-->
							<div class="booking-section">
								<div class="portlet light">
									<div class="portlet-title">
										<div class="caption caption-md">
											<i class="icon-bar-chart theme-font-color hide"></i>
											<span class="caption-subject theme-font-color bold uppercase">Customer List</span>
										</div>
									</div>
									<div class="portlet-body">
										<div class="col-md-12 col-sm-12 col-xs-12 p-0">
											<div class="add-emp-form">
								            	<div class="table-responsive">
					                                <table class="table table-bordered">
					                                    <thead>
					                                    	<tr>
					                                    		<div class="cutome-th" style="background-color:rgba(194, 24, 91, 0.698)">
					                                    			<span class="pull-left">
						                                    			<a href="#"><i class="fa fa-angle-left"></i></a>
						                                    		</span>
						                                    			November 10, 2017
					                                    			<span class="pull-right">
						                                    			<a href="#">
						                                    			<i class="fa fa-angle-right"></i>
						                                    			</a>
						                                    		</span>
					                                    		</div>
					                                    	</tr>
					                                        <tr>
					                                        	<th>Sr No</th>
					                                            <th>Customer Name</th>
					                                            <th>Email Address</th>
					                                            <th>Contact Number</th>
					                                            <th>Service</th>
					                                            <th>Time</th>
					                                            <th>Status</th>
					                                            <th>Action</th>
					                                        </tr>
					                                    </thead>
					                                    <tbody>
					                                        <tr>
					                                        	<td>1</td>
					                                            <td><img class="user-view" src="img/avatar9.jpg">Smith</td>
					                                            <td>smith@gmail.com</td>
					                                            <td>+919907234590</td>
					                                            <td>Hair Cutting,Hair Color</td>
					                                            <td>12:00 PM - 12:30 PM</td>
					                                            <td>Completed</td>
					                                            <td>
					                                            	<ul class="action-icon">
					                                                    <li class="view-ic">
					                                                        <a href="javascript:void(0);" data-toggle="tooltip" title="View">
					                                                            <i class="fa fa-eye"></i>
					                                                        </a>
					                                                    </li>
					                                                    <li class="close-ic">
					                                                        <a href="javascript:void(0);" data-toggle="tooltip"  title="Close">
					                                                            <i class="fa fa-times"></i>
					                                                        </a>
					                                                    </li>
					                                                </ul>
					                                            </td>
					                                        </tr>
					                                        <tr>
					                                            <td>2</td>
					                                            <td>
					                                            	<img class="user-view" src="img/user-pro-2.jpg">Jennifer
					                                           	</td>
					                                            <td>jennifer@gmail.com</td>	
					                                            <td>+919907234590</td>
					                                            <td>Nail Treatment,Skin</td>
					                                            <td>12:30 PM - 1:00 PM</td>
					                                            <td>Pending</td>
					                                            <td>
					                                            	<ul class="action-icon">
					                                                    <li class="view-ic">
					                                                        <a href="javascript:void(0);" data-toggle="tooltip" title="View">
					                                                            <i class="fa fa-eye"></i>
					                                                        </a>
					                                                    </li>
					                                                    <li class="close-ic">
					                                                        <a href="javascript:void(0);" data-toggle="tooltip"  title="Close">
					                                                            <i class="fa fa-times"></i>
					                                                        </a>
					                                                    </li>
					                                                </ul>
					                                            </td>
					                                        </tr>
					                                        <tr>
					                                            <td>3</td>
					                                            <td><img class="user-view" src="img/user-pro-1.jpg">Robert</td>
					                                            <td>robert@gmail.com</td>
					                                            <td>+919807234590</td>
					                                            <td>Nail Treatment</td>
					                                            <td>12:30 PM - 1:00 PM</td>
					                                            <td>Working</td>
					                                            <td>
					                                            	<ul class="action-icon">
					                                                    <li class="view-ic">
					                                                        <a href="javascript:void(0);" data-toggle="tooltip" title="View">
					                                                            <i class="fa fa-eye"></i>
					                                                        </a>
					                                                    </li>
					                                                    <li class="close-ic">
					                                                        <a href="javascript:void(0);" data-toggle="tooltip"  title="Close">
					                                                            <i class="fa fa-times"></i>
					                                                        </a>
					                                                    </li>
					                                                </ul>
					                                            </td>
					                                        </tr>
					                                        <tr>
					                                            <td>4</td>
					                                            <td><img class="user-view" src="img/user-pro-3.jpg">John</td>
					                                            <td>john@gmail.com</td>
					                                            <td>+919565234590</td>
					                                            <td>Massage</td>
					                                            <td>12:30 PM - 1:00 PM</td>
					                                            <td>Completed</td>
					                                            <td>
					                                            	<ul class="action-icon">
					                                                    <!-- <li class="edit-ic">
					                                                        <a href="javascript:void(0);" data-toggle="modal" data-target="#edit-bookinglist">
					                                                            <i class="fa fa-pencil"></i>
					                                                        </a>
					                                                    </li> -->
					                                                    <li class="view-ic">
					                                                        <a href="javascript:void(0);" data-toggle="tooltip" title="View">
					                                                            <i class="fa fa-eye"></i>
					                                                        </a>
					                                                    </li>
					                                                    <li class="close-ic">
					                                                        <a href="javascript:void(0);" data-toggle="tooltip"  title="Close">
					                                                            <i class="fa fa-times"></i>
					                                                        </a>
					                                                    </li>
					                                                </ul>
					                                            </td>
					                                        </tr>
					                                    </tbody>
					                                </table>
					                                <div class="table-pagination">
														<div class="pagination">
														  <a href="#"><i class="fa fa-angle-left"></i></a>
														  <a href="#">1</a>
														  <a href="#" class="active">2</a>
														  <a href="#">3</a>
														  <a href="#"><i class="fa fa-angle-right"></i></a>
														</div>
													</div>
					                            </div>
								            </div>
										</div>
									</div>
								</div>
							</div>
							<!-- END PORTLET-->
						</div>
					</div>
					<!-- END PAGE CONTENT INNER -->
				</div>
			</div>
			<!-- END CONTENT -->