<div class="loader-box" *ngIf="waitLoader==true">
    <img src="./assets/img/Loading_icon.gif" class="img-responsive" />
</div>
<div class="page-content-wrapper">
	<div class="page-content">
		<ul class="page-breadcrumb breadcrumb hide">
			<li>
				<a href="#">Home</a><i class="fa fa-circle"></i>
			</li>
			<li class="active">
				 Dashboard
			</li>
		</ul>
		<!-- BEGIN PAGE CONTENT INNER -->
		<div class="emp-list-sec">
			<div class="col-md-12 col-sm-12 p-0">
				<!-- BEGIN PORTLET-->
				<div class="booking-section">
					<div class="portlet light">
						<div class="portlet-title">
							<div class="caption caption-md">
								<i class="icon-bar-chart theme-font-color hide"></i>
								<span class="caption-subject theme-font-color bold uppercase">Customer List</span>
							</div>
						</div>
						<div class="portlet-body">
							<div class="col-md-12 col-sm-12 col-xs-12 p-0">
								<div class="send-token-main">
									<button class="btn cus-btn token-btn" data-toggle="modal" data-target="#couponlist" [disabled]="ids.length<=0">Send Coupon</button>
								</div>
								<div class="add-emp-form">
					            	<div class="table-responsive">
		                                <table class="table table-bordered">
		                                    <thead>
		                                    	<tr>
		                                    		<td colspan="8">
		                                    			<div class="cutome-th" style="background-color:rgba(194, 24, 91, 0.698)">
			                                    			<span class="pull-left position1">
				                                    			<a href="#"><i class="fa fa-angle-left"></i></a>
				                                    		</span>
				                                    			November 10, 2017
			                                    			<span class="pull-right position2">
				                                    			<a href="#">
				                                    			<i class="fa fa-angle-right"></i>
				                                    			</a>
				                                    		</span>
			                                    		</div>
		                                    		</td>
		                                    	</tr>
		                                        <tr>
		                                        	<th>Select</th>
		                                        	<th>Sr No</th>
		                                            <th>Customer Name</th>
		                                            <th>Email Address</th>
		                                            <th>Contact Number</th>
		                                           	<th>Action</th>
		                                        </tr>
		                                    </thead>
		                                    <tbody>
		                                        <tr *ngFor="let customer of customersList | paginate: { itemsPerPage: 3, currentPage: p };let i=index">
		                                        	<td>
		                                        		<ul class="select-check">
		                                        			<li>
		                                        				<label class="remember-me">
			                                                        <input type="checkbox" (change)="onCustomerCheckbox(customer.customerRequestForAppointment.id)">
			                                                        <span></span>
			                                                    </label>
		                                        			</li>
		                                        		</ul>
		                                        	</td>
		                                        	<td>{{i+1}}</td>
		                                            <td><img class="user-view" [src]="imagePath(customer.customerRequestForAppointment.image)">{{customer.customerRequestForAppointment.first_name}}</td>
		                                            <td>{{customer.customerRequestForAppointment.email}}</td>
		                                            <td>{{customer.customerRequestForAppointment.contact_number}}</td>
		                                            <td>
		                                            	<ul class="action-icon">
		                                                    <li class="view-ic">
		                                                        <a href="javascript:void(0);" data-toggle="modal" data-target="#view-bookinglist" title="View"  (click)="onView(customer)">
		                                                            <i class="fa fa-eye"></i>
		                                                        </a>
		                                                    </li>
		                                                    <li class="close-ic">
		                                                        <a href="javascript:void(0);" data-toggle="tooltip"  title="Close">
		                                                            <i class="fa fa-times"></i>
		                                                        </a>
		                                                    </li>
		                                                </ul>
		                                            </td>
		                                        </tr>
		                                    </tbody>
		                                </table>					                                
		                            </div>
		                            <div class="table-pagination">
										<div class="pagination">
										  <!-- <a href="#"><i class="fa fa-angle-left"></i></a>
										  <a href="#">1</a>
										  <a href="#" class="active">2</a>
										  <a href="#">3</a>
										  <a href="#"><i class="fa fa-angle-right"></i></a> -->
										   <pagination-controls (pageChange)="p = $event"  previousLabel=""  nextLabel="" ></pagination-controls>
										</div>
									</div>
					            </div>
							</div>
						</div>
					</div>
				</div>
				<!-- END PORTLET-->
			</div>
		</div>
		<!-- END PAGE CONTENT INNER -->
	</div>
</div>


<div class="modal fade custom-modal" id="view-bookinglist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" *ngIf="appointMentData">
	<div class="modal-dialog modal-md" role="document">
	    <div class="modal-content">
	        <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true">&times;</span>
	            </button>
	            <h4 class="modal-title" id="myModalLabel">View Customer</h4>
	        </div>
	        <div class="modal-body">
	            <div class="add-emp-form">
	                <form class="img-responsive">
	                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
	                        <div class="row">
	                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
	                                <label>Customer Name <small class="manidatory">*</small></label>
	                                <input disabled="" type="text" [value]="appointMentData.customerRequestForAppointment.first_name" class="form-control">
	                            </div>
	                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
	                                <label>Customer Number<small class="manidatory">*</small></label>
	                                <input disabled="" type="text" [value]="appointMentData.customerRequestForAppointment.contact_number" class="form-control">
	                            </div>
	                        </div>
	                        <div class="row">
	                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
	                                <label>Employee Name<small class="manidatory">*</small></label>
	                                <div class="custom-select">
	                                    <select disabled="" class="form-control" placeholder="Select Employee">
	                                        <option disabled="">Select Employee</option>
	                                        <option name="nsw" selected="selected">James</option>
	                                        <option name="vic">Mary</option>
	                                        <option name="qld" selected="selected">Robert</option>
	                                        <option name="qld">Jennifer</option>
	                                        <option name="qld">Patricia</option>
	                                    </select>
	                                    <span class="caret"></span>
	                                </div>
	                            </div>
	                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
	                                <label>Employee Email <small class="manidatory">*</small></label>
	                                <input disabled="" type="email" [value]="appointMentData.customerRequestForAppointment.email" class="form-control">
	                            </div>
	                        </div>
	                        <div class="row">
	                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
	                                <label>Select Gender<small class="manidatory">*</small></label>
	                                <div class="custom-radio">
	                                    <div class="radio-inline">
	                                        <input checked="checked" type="radio" id="radio01" name="radio" />
	                                        <label for="radio01">
	                                            <span><span></span></span>Male
	                                        </label>
	                                    </div>
	                                    <div class="radio-inline">
	                                        <input type="radio" id="radio02" name="radio" />
	                                        <label for="radio02">
	                                            <span><span></span></span>Female
	                                        </label>
	                                    </div>
	                                </div>
	                            </div>
	                             <div class="form-group col-md-6 col-sm-6 col-xs-12">
	                                <label>Select Employee Services<small class="manidatory">*</small></label>
	                                <div class="custom-select">
	                                    <input disabled="" type="text" [value]="appointMentData.requestedServiceByCustomer.services_eng" class="form-control">
	                                </div>
	                            </div>
	                        </div>
	                        <div class="row">
	                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
	                                <label>Date <small class="manidatory">*</small></label>
	                                <input disabled="" class="form-control input-medium date-picker" size="16" type="text" [value]="appointMentData.date"/>
	                            </div>
	                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
	                                <label>Change Time<small class="manidatory">*</small></label>
	                                <div class="input-icon">
	                                    <i class="fa fa-clock-o"></i>
	                                    <input disabled="" type="text" class="form-control timepicker timepicker-24">
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="modal-footerbtn">
	                        <span class="save-bt">
	                            <button type="button" class="btn cut-btn" data-dismiss="modal" aria-label="Close">
	                             Confirm
	                            </button>
	                        </span>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>
	</div>
</div>


<div class="modal fade custom-modal" id="couponlist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" *ngIf="couponCodes">
	<div class="modal-dialog modal-md" role="document">
	    <div class="modal-content">
	        <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true">&times;</span>
	            </button>
	            <h4 class="modal-title" id="myModalLabel">Select Coupon</h4>
	        </div>
	        <div class="modal-body">
	            <div class="add-emp-form">
	                <table class="table table-bordered">
	                	 <thead>
                            <tr>
                            	<th>Select</th>
                            	<th>Sr No</th>
                                <th>Coupon Code</th>
                                <th>Discount</th>
                                <th>Discount Price</th>
                            </tr>
                        </thead>
                        <tbody>
		                        <tr *ngFor="let coupon of couponCodes;let i=index">
		                        	<td>
		                        		<mat-radio-button value="1" (change)="onCouponCheckbox(coupon.id)"></mat-radio-button>
		                        		<!-- <ul class="select-check">
		                        			<li>
		                        				<label class="remember-me">
		                                            <input type="radio" (change)="onCouponCheckbox(coupon.id)" >
		                                            <span></span>
		                                        </label>
		                        			</li>
		                        		</ul>  -->	                        		<!-- <div class="custom-radio">
		                        		<div class="radio-inline">
	                                            <input type="radio" [value]="coupon.id"  name="radio" (change)="onCouponCheckbox(coupon.id)" >
	                                            <label for="radio01">
	                                                <span><span></span></span>Male
	                                            </label>
	                                        </div>
	                                    </div> -->
		                        	</td>
		                        	<td>{{i+1}}</td>
		                            <td>{{coupon.coupon_code}}</td>
		                            <td>{{coupon.discount_percent}}</td>
		                            <td>{{coupon.discount_price}}</td>
		                        </tr>
                    	</tbody>
	                </table>
	                <div class="modal-footerbtn">
                        <span class="save-bt">
                            <button type="button" class="btn cut-btn" data-dismiss="modal" aria-label="Close" (click)="onSendCoupon()" [disabled]="!couponId">
                             Send
                            </button>
                        </span>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>