  <!-- BEGIN CONTENT -->
      <div class="page-content-wrapper">
        <div class="page-content">
          <ul class="page-breadcrumb breadcrumb hide">
            <li>
              <a href="#">Home</a><i class="fa fa-circle"></i>
            </li>
            <li class="active">
               Dashboard
            </li>
          </ul>
          <!-- BEGIN PAGE CONTENT INNER -->
          <div class="emp-list-sec">
            <div class="col-md-12 col-sm-12 p-0">
              <!-- BEGIN PORTLET-->
              <div class="booking-section"><!-- like that wrap class -->
                <div class="portlet light">
                  <div class="portlet-title">
                    <div class="caption caption-md">
                      <i class="icon-bar-chart theme-font-color hide"></i>
                      <span class="caption-subject theme-font-color bold uppercase">My Booking Details</span>
                    </div>
                  </div>
                  <div class="portlet-body services-list">
                    <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                      <div class="cus-booking-det">
                        <div class="customer-saldiv">
                          <div class="salon-li">
                            <img src="assets/img/saloon.svg" class="salon-logo" alt="salon-logo">
                            <span class="salon-span">
                              <h3>Natural Beauty &amp; Spa Services</h3>  
                              <small> Shop No.G-5-618, Street No.2, New Shiv Puri, Near A.K Hospital, Ludhiana, Punjab 141001</small>
                              <span class="rating-salon pull-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                              </span>
                            </span>
                          </div>
                          <div class="services-part-main">
                            <div class="services-part">
                              <div class="service-des">                             
                                <img src="assets/img/service-1.jpg" class="" alt="service">
                                <h4>
                                  Hair cutting &amp; Coloring 
                                </h4>
                                <span class="price-span">$200.00</span> 
                              </div>
                              <div class="professional">
                                <div class="your-professional">
                                  <img src="assets/img/user-pro-1.jpg" alt="professional">
                                  <h4>JOHNSON THOMAS <small>Your Professional</small></h4>
                                </div>
                                <div class="date-status">
                                  <ul class="booking-datetime">
                                    <li class="date-book">
                                      <i class="fa fa-clock-o"></i>
                                      8:00 PM - 9:00 PM
                                    </li>
                                    <li class="time-book">
                                      <i class="fa fa-calendar"></i>
                                      03/01/2018
                                    </li>
                                    <li class="time-book">
                                      <i class="fa fa-credit-card"></i>
                                      <label>Payment Type:</label> Cash
                                    </li>
                                  </ul>
                                  <div class="status-div">
                                    <h4><label>Status:</label> Pending</h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="services-part">
                              <div class="service-des">                             
                                <img src="assets/img/service-1.jpg" class="" alt="service">
                                <h4>
                                  Hair cutting &amp; Coloring 
                                </h4>
                                <span class="price-span">$200.00</span> 
                              </div>
                              <div class="professional">
                                <div class="your-professional">
                                  <img src="assets/img/user-pro-1.jpg" alt="professional">
                                  <h4>JOHNSON THOMAS <small>Your Professional</small></h4>
                                </div>
                                <div class="date-status">
                                  <ul class="booking-datetime">
                                    <li class="date-book">
                                      <i class="fa fa-clock-o"></i>
                                      8:00 PM - 9:00 PM
                                    </li>
                                    <li class="time-book">
                                      <i class="fa fa-calendar"></i>
                                      03/01/2018
                                    </li>
                                    <li class="time-book">
                                      <i class="fa fa-credit-card"></i>
                                      <label>Payment Type:</label> Cash
                                    </li>
                                  </ul>
                                  <div class="status-div">
                                    <h4><label>Status:</label> Pending</h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="total-profile">
                              <span class="Total-charge">
                                <label>Total Charge</label>
                                <span class="total-cost pull-right">$400.00</span>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END PORTLET-->
            </div>
          </div>
          <!-- END PAGE CONTENT INNER -->
        </div>
      </div>
      <!-- END CONTENT -->