
<section class="login-section">
            <div class="container">
                <div class="login-inner">
                    <form class="signup-form common-form">
                        <h3 class="form-h after-line">Saloon Sign Up</h3>
                        <p class="title-d">Begin your Beauty Service journey with 3 simple steps.</p>
                        <div class="saloon-wrap">
                            <div class="tab-on-form">
                                <ul class="nav nav-pills nav-stacked">
                                    <li class="active step-li">
                                       <a href="#tab_a" data-toggle="pill" >
                                           1
                                       </a>
                                       <p>Account Creation</p> 
                                    </li>
                                    <li class="step-li">
                                       <a href="#tab_b" data-toggle="pill">
                                          2
                                       </a>
                                       <p>Verification Details</p> 
                                    </li>
                                    <li class="">
                                       <a href="#tab_c" data-toggle="pill">
                                          3
                                       </a>
                                       <p>Update Saloon Details</p> 
                                    </li>
                                </ul>
                            </div>
                            <div class="form-wrap">
                                <div class="tab-content">
                                    <div class="saloon-form tab-pane active" id="tab_a">
                                        <p class="info-text">We will never sell, share or distribute your personal information.<a href="javascript:void(0);">Read our privacy policy</a></p>
                                        <div class="row">
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                <label>Enter Saloon Name</label>
                                                <input type="text" placeholder="Enter Saloon Name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                <label>Enter Name</label>
                                                <input type="text" placeholder="Enter Name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                <label>Enter Email</label>
                                                <input type="text" placeholder="Enter Email" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                <label>Enter Contact Number</label>
                                                <input type="text" placeholder="Enter Contact Number" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                <label>Enter Password</label>
                                                <input type="password" placeholder="Enter Password" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                <label>Enter Confirm Password</label>
                                                <input type="password" placeholder="Enter Password" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                <label>Enter Your City</label>
                                                <input type="text" placeholder="Enter Your City" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                <label class="remember-me">
                                                    <input type="checkbox" checked="checked"> I acknowledge that i have read <a href="javascript:void(0);">Terms & Condition</a>   and <a href="javascript:void(0);">Privacy Policy</a>
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 p-0">
                                            <div class="continue-btn saloon-btn">
                                                <a href="#tab_b" class="btn cut-btn" data-toggle="pill">Continue</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="saloon-form tab-pane" id="tab_b">
                                        <div class="varification-form">
                                            <h4>Please enter the OTP received on your mobile number</h4>
                                            <div class="varification-tab">
                                                <div class="col-md-offset-3 col-sm-6 col-md-6 col-xs-12">
                                                    <input type="text" placeholder="Enter Code" class="form-control">
                                                </div>
                                                <a href="javascript:void(0);" class="opt-link">Resend OTP</a>
                                            </div>
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12 p-0">
                                                <div class="continue-btn saloon-btn vari">
                                                    <span class="varify">
                                                        <a href="#tab_a" class="btn cut-btn" data-toggle="pill">Back</a>
                                                    </span>
                                                    <span class="varify">
                                                        <a href="#tab_c" class="btn cut-btn" data-toggle="pill">Verify</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="saloon-form tab-pane" id="tab_c">
                                        <div class="saloon-details">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-6 col-sm-6  col-xs-12">
                                                    <!-- <label>Upload Saloon Logo</label> -->
                                                    <div class="form-group custom-upload">
                                                        <div class="file-previewimg">
                                                            <img src="img/no-img.png" class="img-responsive" alt="NO-IMAGES">
                                                        </div>
                                                        <div class="profile-upload">
                                                            <div class="input-btn">
                                                                <input type="file" />
                                                                <button class="btn cus-btn"> 
                                                                <i class="fa fa-file-image-o"></i> Upload Saloon Logo</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                    <label>Select Category</label>
                                                    <div class="custom-select">
                                                        <select class="form-control multiselect" placeholder="Select Category" multiple="multiple">
                                                            <option disabled="">Select Category</option>
                                                            <option name="nsw">Saloon</option>
                                                            <option name="vic">spa</option>
                                                            <option name="qld">Stylist</option>
                                                            <option name="wa">Ayurveda</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                  <label>Select Service</label>
                                                    <div class="custom-select">
                                                        <select class="form-control multiselect" placeholder="Select Services" multiple="multiple">
                                                            <option disabled="">Select Services</option>
                                                            <option name="nsw">Hair</option>
                                                            <option name="vic">Skin</option>
                                                            <option name="qld">Nail Treatment</option>
                                                            <option name="qld">Essentials</option>
                                                            <option name="qld">Innovations</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12 p-0">
                                                <div class="continue-btn saloon-btn vari">
                                                    <span class="varify">
                                                        <a href="javascript:void(0);" class="btn cut-btn" data-toggle="pill">Cancel</a>
                                                    </span>
                                                    <span class="varify">
                                                        <a href="saloon-dashboard.php" class="btn cut-btn">Submit</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>