	<!-- BEGIN CONTENT -->
			<div class="page-content-wrapper">
				<div class="page-content">
					<ul class="page-breadcrumb breadcrumb hide">
						<li>
							<a href="#">Home</a><i class="fa fa-circle"></i>
						</li>
						<li class="active">
							 Dashboard
						</li>
					</ul>
					<!-- BEGIN PAGE CONTENT INNER -->
					<div class="emp-list-sec">
						<div class="col-md-12 col-sm-12 p-0">
							<!-- BEGIN PORTLET-->
							<div class="booking-section">
								<div class="portlet light">
									<div class="portlet-title">
										<div class="caption caption-md">
											<i class="icon-bar-chart theme-font-color hide"></i>
											<span class="caption-subject theme-font-color bold uppercase">Transaction Details</span>
										</div>
									</div>
									<div class="portlet-body services-list">
										<div class="col-md-12 col-sm-12 col-xs-12 p-0">
											<div class="search-main-sec">
												<div class="col-md-12 col-sm-12 col-xs-12">
													<form class="search-input">
														<div class="form-group col-md-6 col-sm-6 col-xs-12 pull-left p-0">
															<label style="position:relative;top:7px;margin-right:10px;" class="pull-left">Search:</label>
															<div class=" col-md-4 col-sm-6 col-xs-12 p-0">
								                                  <input type="text" placeholder="Search.." class="form-control">
								                            </div>	
														</div>
														<div class="col-md-6 col-sm-6 col-xs-12 pull-right">
															<div class="wrap-date-to">
																<div class="col-md-5 col-sm-5 col-xs-5 p-0">
																	<div class="form-group">
										                                <input type="text" placeholder="Start Date " class="form-control  date-picker"> 
										                            </div>	
																</div>	
																<div class="col-md-2 col-sm-2 col-xs-2">
																	<span class="to-span">To</span>
																</div>
																<div class="col-md-5 col-sm-5 col-xs-5 p-0">
																	<div class="form-group">
										                                <input type="text" placeholder="End Date" class="form-control date-picker"> 
										                            </div>	
																</div>
															</div>
														</div>
													</form>
												</div>
											</div>	
											<div class="add-emp-form">
								            	<div class="table-responsive">
					                                <table class="table table-bordered">
					                                    <thead>
					                                        <tr class="emp-tr">
					                                        	<th>Sr No</th>
					                                            <th>Transaction ID</th>
					                                            <th>Payments Source</th>
					                                            <th>Amount</th>
					                                            <th>Status</th>
					                                        </tr>
					                                    </thead>
					                                    <tbody>
					                                        <tr>
					                                        	<td>1</td>
					                                            <td>98976</td>
					                                            <td>Credit Card</td>
					                                            <td>$500</td>
					                                            <td>
					                                            	Completed
					                                            </td>
					                                        </tr>
					                                        <tr>
					                                            <td>2</td>	
					                                            <td>68976</td>
					                                            <td>Credit Card</td>
					                                            <td>$300</td>
					                                            <td>
					                                            	Pending
					                                            </td>
					                                        </tr>
					                                        <tr>
					                                            <td>3</td>
					                                            <td>89809</td>
					                                            <td>Paypal</td>
					                                            <td>$800</td>
					                                            <td>
					                                            	Completed
					                                            </td>
					                                        </tr>
					                                        <tr>
					                                            <td>4</td>
					                                            <td>89809</td>
					                                            <td>Paypal</td>
					                                            <td>$800</td>
					                                            <td>
					                                            	Completed
					                                            </td>
					                                        </tr>
					                                    </tbody>
					                                </table>
					                            </div>
				                                <div class="table-pagination">
													<div class="pagination">
													  <a href="#"><i class="fa fa-angle-left"></i></a>
													  <a href="#">1</a>
													  <a href="#" class="active">2</a>
													  <a href="#">3</a>
													  <a href="#"><i class="fa fa-angle-right"></i></a>
													</div>
												</div>
								            </div>
										</div>
									</div>
								</div>
							</div>
							<!-- END PORTLET-->
						</div>
					</div>
					<!-- END PAGE CONTENT INNER -->
				</div>
			</div>
			<!-- END CONTENT -->
		
		<div class="modal fade custom-modal" id="edit-servicelist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal-md" role="document">
			    <div class="modal-content">
			        <div class="modal-header">
			            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			            	<span aria-hidden="true">&times;</span>
			            </button>
			            <h4 class="modal-title" id="myModalLabel">Edit Service List</h4>
			        </div>
			        <div class="modal-body">
			            <div class="add-emp-form">
			            	<form class="img-responsive">
		            			<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
		            				<div class="row">
	                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                          	<label>Select Category</label>
                                            <div class="custom-select">
                                                <select class="form-control multiselect" placeholder="Select Category" multiple="multiple">
                                                    <option disabled="">Select Category</option>
                                                    <option name="nsw" selected="">Saloon</option>
                                                    <option name="vic">spa</option>
                                                    <option name="qld">Stylist</option>
                                                    <option name="wa">Ayurveda</option>
                                                </select>
                                            </div>
                                        </div>
	                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
	                                        <label>Service Name<small class="manidatory">*</small></label>
	                                        <input type="text" value="Skin Treatment" class="form-control">
	                                    </div>
	                                </div>
	                                <div class="row">
	                                	<div class="form-group col-md-6 col-sm-6 col-xs-12">
                                          	<label>Select Time <small class="manidatory">*</small></label>
                                            <div class="custom-select">
                                                <select class="form-control" placeholder="Select Category">
                                                    <option disabled="">Select Time</option>
                                                    <option name="nsw" selected="">30 Min</option>
                                                    <option name="vic">1 Hr</option>
                                                    <option name="qld">1 hr 30 Min</option>
                                                    <option name="wa">2 hr</option>
                                                    <option name="wa">2 hr 30 Min</option>
                                                </select>
                                                <span class="caret"></span>
                                            </div>
                                        </div>
	                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
	                                        <label>Service Cost <small class="manidatory">*</small></label>
	                                        <input  type="email" value="$200" class="form-control">
	                                    </div>
	                                </div>
	                                <div class="row">
	                                	<div class="form-group col-md-12 col-sm-12 col-xs-12">
	                                        <label>Employee First Name<small class="manidatory">*</small>
	                                        </label>
	                                        <input type="email" value="John" class="form-control">
	                                    </div>
	                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
	                                        <label>Employee Last Name<small class="manidatory">*</small>
	                                        </label>
	                                        <input type="email" value="Smith" class="form-control">
	                                    </div>
	                                </div>
	                                <div class="row">
	                                	<div class="form-group col-md-12 col-sm-12 col-xs-12">
	                                        <label>
	                                        Service Description<small class="manidatory">*</small>
	                                        </label>
	                                        <textarea class="cus-textarea form-control" col="8" rows="10" Placeholder="Lorem ipsum is a dummy text"></textarea>
	                                    </div>
	                                </div>
		            			</div>
					          	<div class="modal-footerbtn">
						          	<span class="save-bt">
						          		<button type="button" class="btn cut-btn" data-dismiss="modal" aria-label="Close">
						          		 Save
						          		</button>
						          	</span>
					          	</div>
			            	</form>
			            </div>
			        </div>
			    </div>
			</div>
		</div>