.yes-confirm {
	margin-right: 20px;
}
.btn-conformation {
	margin-top: 50px;
}
.confirm-info h4 {
	font-size: 18px;
	margin: 10px 0;
}
.confirm-info {
	float: left;
	width: 100%;
	padding: 50px 0 60px 0px;
	text-align: center;
}

/*--emplyee selection--*/
#select-onemodal .modal-header
{
	float: left;
	width: 100%;
}
#select-onemodal .modal-body
{
	float: left;
	width: 100%;
}
#select-onemodal .modal-content
{
	float: left;
	width: 100%;
}
.employee-select
{
	float: left;
	width: 100%;
}
.custm-radio
{
	float: left;
	width: 100%;
}
.custm-radio input[type="radio"]
{
	display: block;
}