        
       
 <div class="loader-box" *ngIf="waitLoader==true">
         <img src="./assets/img/Loading_icon.gif" class="img-responsive" />
 </div>
        <section class="slider-sec">
            <div data-pause="false" data-ride="carousel" class="banner carousel slide carousel-fade" id="slider">
                <!-- Wrapper for slides -->
                <div role="listbox" class="carousel-inner">
                     <div style="background-image:url(assets/img/slider-1.png);" class="item active">
                        <div class="caption-info">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                                        <div class="caption-info-inner text-center">
                                            <h1 class="animated flipInX">We Make People Awesome</h1>
                                            <p class="animated lightSpeedIn">Lorem Ipsum is simply dummy text of the printing and typeseatting industry. Lorem Ipsum has been the industry's</p>
                                            <a class="animated fadeIn btn-primary page-scroll" href="#contact-us">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="background-image:url(assets/img/slider-2.jpg);" class="item">
                        <div class="caption-info">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                                        <div class="caption-info-inner text-center">
                                            <h1 class="animated fadeInDown">Salons that Suits your personality</h1>
                                            <p class="animated fadeInUp">Lorem Ipsum is simply dummy text of the printing and typeseatting industry. Lorem Ipsum has been the industry's</p>
                                            <a class="animated fadeInUp btn-primary page-scroll" href="#packages">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="background-image:url(assets/img/slider-3.jpg);" class="item">
                        <div class="caption-info">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                                        <div class="caption-info-inner text-center">
                                            <h1 class="animated fadeInLeft">Find your Stylist Today</h1>
                                            <p class="animated fadeInLeft">Lorem Ipsum is simply dummy text of the printing and typeseatting industry. Lorem Ipsum has been the industry's</p>
                                            <a class="animated fadeInLeft btn-primary page-scroll" href="#hot-deals">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end carousel-inner-->
                <!-- Controls -->
                <a data-slide="prev" href="#slider" class="control left"><i class="fa fa-arrow-left"></i></a>
                <a data-slide="next" href="#slider" class="right control"><i class="fa fa-arrow-right"></i></a>
            </div>
            <div class="search-form">
                <div class="container">
                    <form class="horizontal-form customize">
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-5 col-sm-5 col-xs-12 no-padding">
                                <input  type="text" matInput [matAutocomplete]="auto" class="form-control input1" name="password" placeholder="Find a salon" [formControl]="myControl">
                                <mat-autocomplete #auto="matAutocomplete">
                                  <mat-option *ngFor="let option of filteredSalons | async" [value]="option.saloon_name" (click)="onSelectedSalon(option)">
                                    {{ option.saloon_name }}
                                  </mat-option>
                                </mat-autocomplete>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-12 no-padding">
                                <input type="text" matInput  class="form-control input2"  placeholder="Enter your area" [formControl]="myControlCities" autocorrect="off" autocapitalize="off" spellcheck="off"   #search >
                               <!--  <mat-autocomplete #city="matAutocomplete">
                                  <mat-option *ngFor="let option of filteredCity | async" [value]="option.city" (click)="onCitySelection(option.city)">
                                    {{ option.city }}
                                  </mat-option>
                                </mat-autocomplete> -->
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12 no-padding">
                                <a class="btn custom-btn" (click)="onSearch()">Search</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section class="how-it-works-sec">
            <div class="section-title text-center">
                <h2>How it <span class="pink">Works</span></h2>
            </div>
            <div class="container">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="step-works wow fadeInLeft" wow-data-delay="0.4s">
                        <div class="content-section">
                            <div class="works-img">
                                <img src="assets/img/businesswoman.svg" alt="images">
                            </div>
                            <h4>Professionals</h4>
                            <p>Select best, experienced, friendly, and background-checked professionals </p>              
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="step-works wow fadeInLeft" wow-data-delay="0.6s">
                        <div class="content-section book-sec">
                            <div class="works-img">
                                <img src="assets/img/book.svg" alt="images">
                            </div>
                            <h4>Book</h4>
                            <p>One-stop online platform for both men and women to book all the appointments.</p>                     
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="step-works wow fadeInLeft" wow-data-delay="0.8s">
                        <div class="content-section">
                            <div class="works-img enjoy">
                                <img src="assets/img/enjoy.svg" alt="images">
                            </div>
                            <h4>Enjoy a hassle free service</h4>
                            <p>Relax and Enjoy our service provided by the fully-equipped professionals</p>          
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="our-services" *ngIf="serviceList">
            <div id="services" class="services item">
                <div class="section-title text-center">
                    <h2>Our <span class="pink">Services</span></h2>
                </div>
                <div class="container">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4 padding-lr-0 item" *ngFor="let service of serviceList;let i=index">
                                <div class="service" >
                                    <a (click)="services(service.services_eng)">
                                        <img alt="..." src="http://18.221.208.210/public/beauty-service/{{service.image}}" >
                                        <div class="img-content">
                                            {{service.services_eng}} <i class="fa fa-angle-right"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                           <!--  <div class="col-xs-12 col-sm-4 col-md-4 padding-lr-0 item">
                                <div class="service">
                                    <a href="#">
                                        <img alt="..." src="assets/img/facials.jpg">
                                        <div class="img-content">
                                            Top Facial Treatments <i class="fa fa-angle-right"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 padding-lr-0 item">
                                <div class="service">
                                    <a href="#">
                                        <img alt="..." src="assets/img/img-7.png">
                                        <div class="img-content">
                                            Elite Hair Wash <i class="fa fa-angle-right"></i>
                                        </div>
                                    </a>
                                </div>
                            </div> -->
                        </div>
                        <!-- <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4 padding-lr-0 item">
                                <div class="service">

                                    <a href="#">
                                        <img alt="..." src="assets/img/img-1.png">
                                        <div class="img-content">
                                            Nail Treatment <i class="fa fa-angle-right"></i>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 padding-lr-0 item">
                                <div class="service">
                                    <a href="#">
                                        <img alt="..." src="assets/img/color.png">
                                        <div class="img-content">
                                            Top Hair Color Salons<i class="fa fa-angle-right"></i>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 padding-lr-0 item">
                                <div class="service">
                                    <a href="#">
                                        <img alt="..." src="assets/img/img-4.png">
                                        <div class="img-content">
                                            Top Hair Cut Salons<i class="fa fa-angle-right"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
        <section class="trading-style" >
            <div class="section-title text-center">
                <h2>TRENDING <span class="pink">STYLES</span></h2>
            </div>
            <div class="container">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="owl_otr_div wow fadeInLeft" data-wow-delay="0.5s">
                        <div class="owl-demo1 owl-carousel">
                            <div class="item" >
                                <div class="news_blk" *ngIf="trendingStyles.length>0">
                                    <img [src]="getimage1()" alt="Owl Image" class="img-responsive">
                                    
                                </div>  
                            </div>
                            <div class="item" >
                                <div class="news_blk" *ngIf="trendingStyles.length>1">
                                    <img [src]="getimage2()" alt="Owl Image" class="img-responsive">
                                </div>  
                            </div>
                            <div class="item" >
                                <div class="news_blk" *ngIf="trendingStyles.length>2">
                                    <img [src]="getimage3()" alt="Owl Image" class="img-responsive">
                                </div>  
                            </div>
                            <div class="item" >
                                <div class="news_blk" *ngIf="trendingStyles.length>3">
                                    <img [src]="getimage4()" alt="Owl Image" class="img-responsive">
                                </div>  
                            </div>
                            <div class="item" >
                                <div class="news_blk" *ngIf="trendingStyles.length>4">
                                    <img [src]="getimage5()" alt="Owl Image" class="img-responsive">
                                </div>  
                            </div>
                            <div class="item" >
                                <div class="news_blk" *ngIf="trendingStyles.length>5">
                                    <img [src]="getimage6()" alt="Owl Image" class="img-responsive">
                                </div>  
                            </div> 
                            <div class="item" >
                                <div class="news_blk" *ngIf="trendingStyles.length>6">
                                    <img [src]="getimage7()" alt="Owl Image" class="img-responsive">
                                </div>  
                            </div>
                            <div class="item" >
                                <div class="news_blk" *ngIf="trendingStyles.length>7">
                                    <img [src]="getimage8()" alt="Owl Image" class="img-responsive">
                                </div>  
                            </div>
                            <div class="item" >
                                <div class="news_blk" *ngIf="trendingStyles.length>8">
                                    <img [src]="getimage9()" alt="Owl Image" class="img-responsive">
                                </div>  
                            </div> 
                            <div class="item" >
                                <div class="news_blk" *ngIf="trendingStyles.length>9">
                                    <img [src]="getimage10()" alt="Owl Image" class="img-responsive">
                                </div>  
                            </div>                                                
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="professional-section" *ngIf="homePageContent">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
                        <div class="stats-bottom text-center">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 p-0">
                                <div class="wrap-count">
                                    <h3>Appointments</h3>
                                    <span class="count" >{{appointments | async  }}</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 p-0">
                                <div class="wrap-count">
                                    <h3>Salons</h3>
                                    <span class="count" >{{totalSalons | async }}</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 p-0">
                                <div class="wrap-count">
                                    <h3>Satisfied Customers</h3>
                                    <span class="count" >{{totalCustomers | async }}</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 p-0">
                                <div class="wrap-count">
                                    <h3>Average Rating</h3>
                                    <span class="count" data-counter="counterup" data-value="4.5">{{averageRating | async }}</span><span class="rate-star">Star</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mobile-app-sec">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Book on the <span class="pink">Go</span></h2>
                </div>
                <div class="slider-outer">
                    <div id="demo" class="app-custom-slider">
                        <div class="span12">
                            <div class="main-slider wow bounceInUp">
                                <div class="iphone-frame">
                                    <img src="assets/img/iphone.png" alt="Iphone">
                                </div>
                                <div id="sync1" class="owl-carousel test main-img-outer">
                                    <div class="item">
                                        <div class="slider-main-img" style="">                                   
                                            <img src="assets/img/search.jpg">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="slider-main-img" style="">                                   
                                            <img src="assets/img/call.jpg">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="slider-main-img" style="">                                   
                                            <img src="assets/img/near-map.jpg">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="slider-main-img" style="">                                   
                                            <img src="assets/img/plans.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="thumbnail-slider">
                                <div id="sync2" class="owl-carousel thumbnail-outer">
                                    <div class="item wow bounceInLeft" data-wow-duration="0.8s" >
                                        <div class="slider-thumbnail-img">
                                            <i class="icon icon-map"></i>
                                            <h4>Find Professionals</h4>                                
                                        </div>
                                    </div>
                                    <div class="item wow bounceInUp" data-wow-duration="1.4s" >
                                        <div class="slider-thumbnail-img">
                                            <i class="icon icon-call-out"></i>
                                            <h4>Book</h4>                                     
                                        </div>
                                    </div>
                                    <div class="item wow bounceInRight" data-wow-duration="2.6s" >
                                        <div class="slider-thumbnail-img">
                                            <i class="icon icon-people"></i>
                                            <h4>Nearest Salons</h4>                                       
                                        </div>
                                    </div>
                                    <div class="item wow bounceInDown" data-wow-duration="2.0s" >
                                        <div class="slider-thumbnail-img">
                                            <i class="icon icon-credit-card"></i>
                                            <h4>Pay Online</h4>                                       
                                        </div>
                                    </div>
                                </div>
                                <div class="content-slider wow fadeIn" data-wow-delay="0.6s" >
                                    <div id="sync1_copy" class="owl-carousel">
                                        <div class="item">
                                            <div class="slider-con" style="">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                <p class="left-big">Browse our selection of vetted-professional beauty therapists, hairdressers and makeup artists</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="slider-con" style="">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                <p class="left-big">You're booked! Simply wait for your therapist, hair stylist or makeup artist to arrive at the scheduled time and enjoy your treatment</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="slider-con" style="">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                <p class="left-big">Find the best and fully equipped salons near you.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="slider-con" style="">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                <p class="left-big">We'll confirm your appointment and take care of payment electronically and securely.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="download-link">
                                        <a href="#" class="link-download">
                                            <img src="assets/img/app-store.png" alt="app-store" class="img-responsive">
                                        </a>
                                        <a href="#" class="link-download">
                                            <img src="assets/img/google-play.png" alt="play-store" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>