.btn.cus-btn {
  background-color: #d5275a;
  border-radius: unset;
  color: #fff;
  margin-right: 11px;
  min-width: 130px;
}
.month-name h3 {
  color: #d5275a;
}
.week-sec .cal-month-view .cal-day-cell {
  min-height: 70px;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}