
      <div class="page-content-wrapper">
        <div class="page-content">
          <ul class="page-breadcrumb breadcrumb hide">
            <li>
              <a href="#">Home</a><i class="fa fa-circle"></i>
            </li>
            <li class="active">
               Dashboard
            </li>
          </ul>
          <!-- BEGIN PAGE CONTENT INNER -->
          <div class="emp-list-sec">
            <div class="col-md-12 col-sm-12 p-0">
              <!-- BEGIN PORTLET-->
              <div class="booking-section"><!-- like that wrap class -->
                <div class="portlet light">
                  <div class="portlet-title">
                    <div class="caption caption-md">
                      <i class="icon-bar-chart theme-font-color hide"></i>
                      <span class="caption-subject theme-font-color bold uppercase">My Appointments</span>
                    </div>
                  </div>
                  <div class="portlet-body services-list">
                    <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                      <div class="my-appoint-sec">
                        <div class="appoint-inner-sec">
                          <ul class="appointment-ul" *ngIf="appointment">
                            <li *ngFor="let apoint of appointment | paginate: { itemsPerPage: 3, currentPage: p }; let i=index ">
                              <div class="salon-li">
                                <img *ngIf="!apoint.requestedSaloonyCustomer.image " src="assets/img/saloon.svg" class="salon-logo" alt="salon-logo">
                                <img *ngIf="apoint.requestedSaloonyCustomer.image" [src]="imagePath(apoint.requestedSaloonyCustomer.image)" class="salon-logo" alt="salon-logo">
                                <span class="salon-span">
                                  <h3><span>{{apoint.requestedSaloonyCustomer.saloon_name}}</span></h3>  
                                  <small> <span>{{apoint.requestedSaloonyCustomer.city}}</span></small>
                                  <span *ngIf="apoint.requestedSaloonyCustomer.saloonRating.length>0" class="rating-salon pull-right">
                                    <i class="{{getRatingClass(apoint.requestedSaloonyCustomer.saloonRating,1)}}"></i>
                                    <i class="{{getRatingClass(apoint.requestedSaloonyCustomer.saloonRating,2)}}"></i>
                                    <i class="{{getRatingClass(apoint.requestedSaloonyCustomer.saloonRating,3)}}"></i>
                                    <i class="{{getRatingClass(apoint.requestedSaloonyCustomer.saloonRating,4)}}"></i>
                                    <i class="{{getRatingClass(apoint.requestedSaloonyCustomer.saloonRating,5)}}"></i>
                                  </span>
                                  <span *ngIf="apoint.requestedSaloonyCustomer.saloonRating.length<1" class="rating-salon pull-right">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                  </span>
                                </span>
                                <div class="service-des">     
                                  <img *ngIf="!apoint.requestedServiceByCustomer.image " src="assets/img/service-1.jpg" class="" alt="service">
                                  <img *ngIf="apoint.requestedServiceByCustomer.image " [src]="imagePath(apoint.requestedServiceByCustomer.image)" class="" alt="service">
                                  <h4>
                                    <span>{{apoint.requestedServiceByCustomer.services_eng}}</span>
                                    <!-- <small class="timeing">
                                      <i class="fa fa-clock-o"></i>
                                      {{apoint.start_time}} - {{apoint.end_time}}, {{apoint.date}}
                                    </small> -->
                                  </h4>
                                  <span class="price-span">AED {{apoint.amount}}</span> 
                                </div>
                                <div class="your-professional">
                                  <img *ngIf="!apoint.requestedServiceByCustomer.employee_image" src="assets/img/user-pro-1.jpg" alt="professional">
                                  <img *ngIf="apoint.requestedServiceByCustomer.employee_image" [src]="imagePath(apoint.requestedServiceByCustomer.employee_image)" alt="professional">
                                  <h4><span>{{apoint.employeeRequestedByCustomer.first_name}} {{apoint.employeeRequestedByCustomer.last_name}} </span> <small>Your Professional</small></h4>
                                </div>
                                <div class="date-status">
                                  <ul class="booking-datetime">
                                    <li class="date-book">
                                      <i class="fa fa-clock-o"></i>{{getHours(apoint.start_time)}} : {{getMin(apoint.start_time)}} {{getAmPm(apoint.start_time)}} - {{getHours(apoint.end_time)}} : {{getMin(apoint.end_time)}} {{getAmPm(apoint.end_time)}}
                                    </li>
                                    <li class="time-book">
                                      <i class="fa fa-calendar"></i>
                                      {{apoint.date}}
                                    </li>
                                    <li class="time-book">
                                      <i class="fa fa-credit-card"></i>
                                      <label>Payment Type:</label>  {{apoint.payment_type}}
                                    </li>
                                  </ul>
                                  <div class="status-div">
                                    <h4><label>Status:</label> {{getStatus(apoint.appointment_status)}}</h4>
                                  </div>
                                </div>
                              <!--   <div class="status-sec">
                                  <h4><label>Status:</label> Pending</h4>
                                </div> -->
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                        <div class="table-pagination">
                          <div class="pagination">
                             <pagination-controls (pageChange)="p = $event"  previousLabel=""  nextLabel="" ></pagination-controls>
                          </div>
                        </div>
              <!-- END PORTLET-->
            </div>
          </div>
          <!-- END PAGE CONTENT INNER -->
        </div>
      </div>
      <!-- END CONTENT-->