/* You can add global styles to this file, and also import other style files */

.loader-box div {
  display: inline-block;
  margin: auto 0;
}
.loader-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  background-color: rgba(0,0,0,0.54);
}
.loader-box img {
  width: 120px;
  margin: auto 0;
}

.overflow-hidden{
	overflow: hidden;
}