/* You can add global styles to this file, and also import other style files */

.loader-box div {
  display: inline-block;
  margin: auto 0;
}
.loader-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  background-color: rgba(0,0,0,0.54);
}
.loader-box img {
  width: 120px;
  margin: auto 0;
}

.overflow-hidden{
	overflow: hidden;
}
.table-pagination .current > .ng-star-inserted{
  border: 1px solid #ddd;
  color: black;
  float: left;
  font-size: 16px;
  margin-left: -1px;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease 0s;
}
.table-pagination .ngx-pagination .current {
    padding:0;
    background:  #d5275a;
    color: #fff;
    cursor: default;
    border-color:  #d5275a;
}
.table-pagination .ngx-pagination .disabled {
  border: 1px solid #ddd;
  color: black;
  float: left;
  font-size: 16px;
  margin-left: -1px;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease 0s;
}