/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.loader-box div {
  display: inline-block;
  margin: auto 0;
}
.loader-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  background-color: rgba(0,0,0,0.54);
}
.loader-box img {
  width: 120px;
  margin: auto 0;
}

.overflow-hidden{
	overflow: hidden;
}
.table-pagination .current > .ng-star-inserted{
  border: 1px solid #ddd;
  color: black;
  float: left;
  font-size: 16px;
  margin-left: -1px;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease 0s;
}
.table-pagination .ngx-pagination .current {
    padding:0;
    background:  #d5275a;
    color: #fff;
    cursor: default;
    border-color:  #d5275a;
}
.table-pagination .ngx-pagination .disabled {
  border: 1px solid #ddd;
  color: black;
  float: left;
  font-size: 16px;
  margin-left: -1px;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease 0s;
}
.custom-week-sec .cal-month-view .cal-cell-top {
    min-height: 60px;
    padding-top: 10px;
}
.custom-week-sec .cal-month-view .cal-day-number {
    float: none;
    display: inline-block;
}
.time-sec {
  float: left;
  width: 100%;
}
.time-slot-ul {
  float: left;
  width: 100%;
  padding-left: 0;
  list-style: none;
  border: 1px solid #ccc;
  border-top: none;
  border-right: none;
  height: 200px;
  overflow-y: auto;
}
.time-sec h4 {
  background-color: rgb(213, 39, 90);
  padding: 15px 0;
  margin-top: 20px;
  margin-bottom: 0px;
  color:#fff;
}
.time-slot-ul li {
  float: left;
  width: 25%;
  display: inline-block;
  padding: 15px 0;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.dull-date {
  background-color:#eaeaea;
}

.cdk-overlay-container {
    position: fixed;
    z-index: 999999;
}