<!-- BEGIN CONTENT -->
      <div class="page-content-wrapper">
        <div class="page-content">
          <ul class="page-breadcrumb breadcrumb hide">
            <li>
              <a href="#">Home</a><i class="fa fa-circle"></i>
            </li>
            <li class="active">
               Dashboard
            </li>
          </ul>
          <!-- BEGIN PAGE CONTENT INNER -->
          <div class="emp-list-sec">
            <div class="col-md-12 col-sm-12 p-0">
              <!-- BEGIN PORTLET-->
              <div class="booking-section"><!-- like that wrap class -->
                <div class="portlet light">
                  <div class="portlet-title">
                    <div class="caption caption-md">
                      <i class="icon-bar-chart theme-font-color hide"></i>
                      <span class="caption-subject theme-font-color bold uppercase">My Appointments</span>
                    </div>
                  </div>
                  <div class="portlet-body services-list">
                    <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                      <div class="my-appoint-sec">
                        <div class="appoint-inner-sec">
                          <ul class="appointment-ul">
                            <li>
                              <div class="salon-li">
                                <img src="assets/img/saloon.svg" class="salon-logo" alt="salon-logo">
                                <span class="salon-span">
                                  <h3>Natural Beauty &amp; Spa Services</h3>  
                                  <small> Shop No.G-5-618, Street No.2, New Shiv Puri, Near A.K Hospital, Ludhiana, Punjab 141001</small>
                                  <span class="rating-salon pull-right">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                  </span>
                                </span>
                                <div class="service-des">                             <img src="assets/img/service-1.jpg" class="" alt="service">
                                  <h4>
                                    Hair cutting &amp; Coloring 
                                    <small class="timeing">
                                      <i class="fa fa-clock-o"></i>
                                      8:00 PM - 10:00 PM, 03/01/2018
                                    </small>
                                  </h4>
                                  <span class="price-span">$200.00</span> 
                                </div>
                                <div class="your-professional">
                                  <img src="assets/img/user-pro-1.jpg" alt="professional">
                                  <h4>JOHNSON THOMAS <small>Your Professional</small></h4>
                                </div>
                                <div class="status-sec">
                                  <h4><label>Status:</label> Pending</h4>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="salon-li">
                                <img src="assets/img/saloon.svg" class="salon-logo" alt="salon-logo">
                                <span class="salon-span">
                                  <h3>Natural Beauty &amp; Spa Services</h3>  
                                  <small> Shop No.G-5-618, Street No.2, New Shiv Puri, Near A.K Hospital, Ludhiana, Punjab 141001</small>
                                  <span class="rating-salon pull-right">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                  </span>
                                </span>
                                <div class="service-des">                             <img src="assets/img/service-1.jpg" class="" alt="service">
                                  <h4>
                                    Hair cutting &amp; Coloring 
                                    <small class="timeing">
                                      <i class="fa fa-clock-o"></i>
                                      8:00 PM - 10:00 PM, 03/01/2018
                                    </small>
                                  </h4>
                                  <span class="price-span">$200.00</span> 
                                </div>
                                <div class="your-professional">
                                  <img src="assets/img/user-pro-1.jpg" alt="professional">
                                  <h4>JOHNSON THOMAS <small>Your Professional</small></h4>
                                </div>
                                <div class="status-sec">
                                  <h4><label>Status:</label> Pending</h4>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="salon-li">
                                <img src="assets/img/saloon.svg" class="salon-logo" alt="salon-logo">
                                <span class="salon-span">
                                  <h3>Natural Beauty &amp; Spa Services</h3>  
                                  <small> Shop No.G-5-618, Street No.2, New Shiv Puri, Near A.K Hospital, Ludhiana, Punjab 141001</small>
                                  <span class="rating-salon pull-right">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                  </span>
                                </span>
                                <div class="service-des">                             <img src="assets/img/service-1.jpg" class="" alt="service">
                                  <h4>
                                    Hair cutting &amp; Coloring 
                                    <small class="timeing">
                                      <i class="fa fa-clock-o"></i>
                                      8:00 PM - 10:00 PM, 03/01/2018
                                    </small>
                                  </h4>
                                  <span class="price-span">$200.00</span> 
                                </div>
                                <div class="your-professional">
                                  <img src="assets/img/user-pro-1.jpg" alt="professional">
                                  <h4>JOHNSON THOMAS <small>Your Professional</small></h4>
                                </div>
                                <div class="status-sec">
                                  <h4><label>Status:</label> Pending</h4>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END PORTLET-->
            </div>
          </div>
          <!-- END PAGE CONTENT INNER -->
        </div>
      </div>
      <!-- END CONTENT -->