.service-details dt {
	width: 250px;
}

.yes-confirm {
	margin-right: 20px;
}
.btn-conformation {
	margin-top: 50px;
}
.confirm-info h4 {
	font-size: 18px;
	margin: 10px 0;
}
.confirm-info {
	float: left;
	width: 100%;
	padding: 50px 0 60px 0px;
	text-align: center;
}
