
        <section class="login-section">
            <div class="container">
                <div class="login-inner">
                    <form class="login-form common-form forgot-password-page" [formGroup]="verifiactionForm">
                        <h3 class="form-h">Forgot Password</h3>
                        <div class="form-wrap">
                            <p class="forgot-info">
                                Don't worry! just fill in your email and we'll help you reset your password. 
                            </p>
                            <div class="custom-radio">
                                <div class="radio-inline">
                                    <input [formControl]="verifiactionForm.controls['loginAS']" [(ngModel)]="loginModel.loginAS" checked="checked" type="radio" id="radio01" value="saloon" name="radio" />
                                    <label for="radio01">
                                        <span><span></span></span>Saloon
                                    </label>
                                </div>
                                <div  class="radio-inline">
                                    <input type="radio" id="radio02" [formControl]="verifiactionForm.controls['loginAS']" [(ngModel)]="loginModel.loginAS" value="customer" name="radio" />
                                    <label for="radio02">
                                        <span><span></span></span>Customer
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" [formControl]="verifiactionForm.controls['email']" [(ngModel)]="loginModel.email"  placeholder="Enter Email" class="form-control">
                                      <p  *ngIf="verifiactionForm.controls['email'].hasError('required') && verifiactionForm.controls['email'].touched">
                                                       Email is <strong>required</strong>
                                    </p>
                                    <p  *ngIf="verifiactionForm.controls['email'].hasError('pattern')">
                                               Enter valid email id
                                    </p>
                                    <p  *ngIf="verifiactionForm.controls['email'].hasError('maxlength')">
                                               max length is 100
                                    </p>
                                </div>
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-xs-12 p-0">
                                <div class="sign-inntn">
                                    <button class="btn cut-btn" (click)="onSubmit()" [disabled]="!verifiactionForm.valid">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>